In [1]:
#WAP TO DISPLAY YOUR NAME ,ROLLNO, AGE AND HOMETOWN.
name = "Nabin Yadav"
roll_no = 20051984
age = 23
hometown = "Janakpur"
print(name)
print(roll_no)
print(age)
print(hometown)

Nabin Yadav
20051984
23
Janakpur

In [2]:
#WAP TO CHECK WHETHER “AM” IS PRESENT ON “I AM A STUDENT OF KIIT UNIVESITY”.
str1 = "I am a student of kiit"
str2 = "am"
prst = str1.find(str2)
if prst > 0:
  print("Present")
else:
  print("Absent")

Present

In [3]:
#WAP TO FIND THE CURVED SURFACE AREA OF A CYLINDER.
height = int(input("Enter the height of the cylinder"))
radius = int(input("Enter the radius of the cylinder"))
PI = 22/7
curved_surface_area = 2*PI*radius*height
print(curved_surface_area)

Enter the height of the cylinder7
Enter the radius of the cylinder5
220.0

In [4]:
#WAP TO SLICE THE GIVEN STRING FROM 9TO 13(HOCKEY WORLDCUP)
str1 = "Hockey WorldCup"
print(str1[9:13])

rldC

In [5]:
#WAP TO FIND THE MINIMUM OF 5 NUMBERS(NOS SHOULD BE TAKEN AS INPUT FROMKEYBOARD)
n1 = int(input("Enter first num"))
n2 = int(input("Enter second num"))
n3 = int(input("Enter third num"))
n4 = int(input("Enter fourth num"))
n5 = int(input("Enter fifth num"))
minNum = min(n1,n2,n3,n4,n5)
print("The minimum among five number ",minNum)

Enter first num3
Enter second num22
Enter third num54
Enter fourth num33
Enter fifth num1
The minimum among five number  1

In [6]:
#WAP TO CONVERT CELSIUS INTO FARENHEIT
temp_cel = int(input("Enter the temperature in celsius"))
temp_fah = (9*temp_cel)/5 + 32
temp_fah

Enter the temperature in celsius36

96.8

In [7]:
#ASSIGN FOUR STRINGS TO VARIABLE A,B,C,D. WAP TO CONCATENATE THE FOUR VARIABLESWITH A SPACE BETWEEN TWO SUBSEQUENT.
a = "I"
b = "Love"
c = "Computer"
d = "Engineering"
print(a + " "+b+" "+c+" "+d)
#print(a,b,c,d)

I Love Computer Engineering
I Love Computer Engineering

In [8]:
#WAP TO PERFORM ALL ARITHMATIC OPERATIONS BETWEEN TO FLOAT NUMBERS.
n1 = float(input("enter first number: "))
n2 = float(input("enter second number:"))
#all arithmetic operations
add = n1 + n2
sub = n1 - n2
mul = n1 * n2
div = n1 / n2
div1 = n1 // n2
mod = n1 % n2
exp = n1 ** n2
print(add,sub,mul,div,div1,mod,exp)

enter first number: 4
enter second number:3
7.0 1.0 12.0 1.3333333333333333 1.0 1.0 64.0

In [9]:

import math

a=int(input("Enter the amount in Rs= Rs "))
b=math.factorial(a)
dollar=a*0.012
euro=b*0.011

print("The amount in dollar-",dollar) 
print ("The amount in euro-",euro)

Enter the amount in Rs= Rs 8
The amount in dollar- 0.096
The amount in euro- 443.52

In [10]:

n_terms = int(input ("How many terms the user wants to print? "))
n1 = 0
n2 = 1
count = 0
if n_terms <= 0:
  print("Please enter a positive integer, the given number is not valid")

elif n_terms == 1:
  print("The Fibonacci sequence of the numbers up to", n_terms, ": ") 
  print(n1) 

else:
  print("The fibonacci sequence of the numbers is: ")
while count < n_terms:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

How many terms the user wants to print? 5
The fibonacci sequence of the numbers is:
0
1
1
2
3